body {font-family: Verdana, Arial, Helvetica, MSÉSÉVÉbÉN, sans-serif; font-size: 10pt; font-style: normal; font-weight: normal; color: #000000; background-color: #FFFFFF; letter-spacing: normal; text-align: left; margin-left: 10pt; word-spacing: normal}
a:link, a:visited {font-size: 90%; font-weight: bold;font-style: oblique; margin:0;}
a:link {color: #0000FF;}
a:visited {color: #0000FF;}
a:hover {color: #3366CC;}

.modlist .title {text-align:left;font-size: 15pt; font-weight: bold;background-color:#ff0000;color: #ffffff; padding:2pt 5pt; margin-bottom : 3pt; }

.sc {text-align:left;font-size: 12pt; font-weight: bold;background-color:#ffffff;color: #000000; padding:2px 2px; margin: 4px 0px 2px; }

.sie {text-align:left;font-size: 10pt; font-weight: bold;background-color:#ffffff;color: #0033ff; padding:2px 2px; margin: 0px; }





.mod_icon2 {
	font-size: 11px;
	color: #ff0000;
	background-color: #ffffff;
	border:solid 2px #ff0000;
	margin:2px;
	padding:1px 2px;
	text-decoration:none;
	cursor:pointer;
}

