body {
	font-family: MSÉSÉVÉbÉN, Verdana, sans-serif;
	font-size: 14px;
	color:#000000;
	margin:0;
	background-color: #ffffff;
	white-space: nowrap;
}

a {
	text-decoration:none;
	color:#0033ff;
}

.mark{
	margin-left:-14px;
	padding-right:3px;
}

.sct{
	padding: 2px 0 2px 18px;
}

.sc{
	padding: 2px 0 2px 32px;
}

.config{
	padding: 2px 0 2px 46px;
}

.sit{
	padding: 2px 0 2px 60px;
}

.sie{
	padding: 2px 0 2px 74px;
}

.sie_dtc{
	padding: 2px 0 2px 46px;
}

.sie_sym{
	padding: 2px 0 2px 46px;
}

.sym{
	padding: 2px 0 2px 50px;
	color: #ffaa66;
}

.last{
	padding: 0;
	font-size: 1px;
}

.button {
	font-size: 11px;
	color: #FFFFFF;
	background-color: #0033ff;
	border:solid 1px #000000;
	margin:2px;
	padding:4px;
	text-decoration:none;
}

.button_off {
	font-size: 11px;
	font-weight: bold;
	color: #0033ff;
	background-color: #ffffff;
	border:solid 1px #000000;
	margin:2px;
	padding:4px;
	text-decoration:none;
}

.listhead {
	font-size: 26px;
	font-weight: bold;
	color: #0033ff;
	background-color: #ffffff;
	margin:2px;
	padding:4px;
}

.btnMod {
	font-size: 11px;
	color: #0033ff;
	background-color: #ffffff;
	border:solid 1px #0033ff;
	margin:0px 2px 4px 4px;
	padding:2px;
	text-decoration:none;
	cursor:pointer;
}



/* This rule must always be the last rule in the file! */
.mod_icon {
	font-size: 11px;
	color: #ff0000;
	background-color: #ffffff;
	border:solid 2px #ff0000;
	margin:-4px 3px 0px -1px;
	padding:1px 2px;
	text-decoration:none;
	cursor:pointer;
	display:none;
}

