body {
	font-family: MSゴシック, Verdana, Arial, sans-serif;
	font-size: 14px;
	color:#000000;
	margin:0;
	background-color: #ffffff;
	white-space: nowrap;
}

a {
	text-decoration:none;
	color:#0033ff;
}

.mark{
	margin-left:-14px;
	padding-right:3px;
}

.results{
	margin: 0;
	padding: 2px 0 2px 6px;
}

.searchconsole{
	margin-bottom: 6px;
	padding: 0;
}

.sie{
	padding: 2px 0 2px 14px;
}

.last{
	padding: 0;
	font-size: 1px;
}

.hits {
	font-size: 12px;
	margin:0px 0px 8px 0px;
	padding:0px;
	white-space: normal;
	max-width:300px;
	word-wrap:break-word;
	vertical-align:middle;
}

.prevlink {
	font-size: 10px;
	color: #FFFFFF;
	background-color: #888888;
	border:solid 1px #000000;
	margin:0px 0 0 0;
	padding:4px 4px 2px 4px;
	text-decoration:none;
}

.listhead {
	font-size: 26px;
	font-weight: bold;
	color: #0033ff;
	background-color: #ffffff;
	margin:2px;
	padding:4px;
}

